<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>name</th>
                <th>age</th>
                <th>emp_id</th>
                <th>Class</th>
            </tr>
            <tbody>
                <tr>
                    {{% for em in emp  %}}
                    <td>{{em.name}}</td>
                    <td>{{em.age}}</td>
                    <td>{{em.emp_id}}</td>
                    <td>{{em.Class}}</td>
                    {{% endfor %}}
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>